//@import "partials/themes/bisque";
//@import "partials/listviews";
//@import "partials/hubby";
//@import "partials/screen-main";

@import "partials/bootstrap-variables-vanilla.scss";

/* use bootstrap colors */
$gray-base:              #000;
// $gray-darker:            lighten($gray-base, 13.5%) // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
// $gray:                   lighten($gray-base, 33.5%) // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$brand-primary:         darken(#428bca, 6.5%); // #337ab7
// $brand-success:         #5cb85c
// $brand-info:            #5bc0de
// $brand-warning:         #f0ad4e
// $brand-danger:          #d9534f

$background-color: #fff;
$primary-color: $gray-dark;
$secondary-color: $brand-primary;
$text-color: $gray-dark;
		       
		     

/* listviews */
@import "compass/css3/border-radius";
$border-radius-base:             4px;
$font-size-base:          14px;
$button-background-color: $gray-lighter;

.listview-list {
    background: $background-color;
    padding: 0.3em;
}

.listview-list-entry {
    background: darken($background-color, 5);
    margin: 0.5em;
    border-style: solid;
    border-width: 0.1em;
    border-color: $primary-color;
    padding: 0.3em;
    a {
	color: $secondary-color;
	}
}


.listview-header {
    @include border-radius(0.5em);
    background: darken($background-color, 10);
    color: $secondary-color;
    text-align: center;
    font-size: 1.5em;
    border-style: solid;
    border-width: 0.2em;
    border-color: lighten($primary-color, 10);
}



@import "partials/hubby-vanilla";

body {
    //min-height: 2000px;
    padding-top: 70px;
}
